services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: labs
      POSTGRES_PASSWORD: labs
      POSTGRES_DB: labsos
    ports:
      - "5432:5432"
    volumes:
      - labsos_pg:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  nats:
    image: nats:2
    command: ["-js"]
    ports:
      - "4222:4222"
      - "8222:8222"

volumes:
  labsos_pg: